---
## Minería de Datos
---
### Equipo 2          &emsp;&emsp;&emsp;  Viernes 15:00 p.m. - 18:00 p.m.
>Martínez Granados Enrique     &ensp;&emsp;&emsp; 1837553<br>
Espinosa Bravo Carlos Antonio  &emsp; 1730505<br>
Morales Cárdenas Alan          &ensp;&emsp;&emsp;&emsp;&emsp; 1726709

---
# Base de Datos: US Accidents (Accidentes en los Estados Unidos)
---
Nuestra base de datos esta enfocada en los accidentes de carro que ocurrieron entre Febrero del 2016 y Diciembre del 2019 en 49 estados de los Estados Unidos.
Esta cuenta con una tabla compuesta por 49 columnas, de las cuales la mayoría son datos tipo string, pero también incluye podemos encontrar otros datos tipo booleanos, enteros, decimales, fechas, coordenadas y un mapa.

Breve descripcion de las columnas:
>Columna 1: &ensp;ID (Identificador): nos sirve para identificar el accidente y que sea su número único.<br>
Columna 2: &ensp;Source (Fuente): nos indica de donde se obtuvo la información del accidente, puede ser Mapquest o Bing. <br>
Columna 3: &ensp;Traffic Message Channel (Canal de mensajes de tráfico): es un código que nos brinda información extra del accidente.<br>
Columna 4: &ensp;Severity (Severidad): nos indica qué tan grave fue el accidente a través de valores enteros del 1 al 4, donde 1 es el menor y 4 el  peor.<br>
Columna 5 y 6: &ensp;Start_time y End_time (Inicio y fin del accidente): nos indica la fecha de inicio y fin del accidente en tiempo local.<br>
Columa 7, 8, 9 y 10: &ensp;Start_Lat, Start_Lng, End_Lat y End_Lng (Inicio latitud), (Inicio longitud), (Fin latitud) y (Fin longitud): nos indican las coordenadas de inicio y fin del accidente.<br>
Columna 11: &ensp;Distance (Distancia): nos indica la distancia afectada por el accidente.<br>
Columna 12: &ensp;Description (Descripción): nos describe en lenguaje más común el accidente.<br>
Columna 13, 14, 15, 16, 17, 18, 19 y 20: &ensp;Number, Street, Side, City, County, State, Zipcode, Country (Número), (Calle), (Lado), (Ciudad), (Condado), (Estado), (Código Postal), País): nos indican la ubicación del accidente, con la dirección que incluye calle, número, código postal, la ciudad, el condado, el estado y el país, en este caso el país para todos es USA.<br>
Columna 21: &ensp;Timezone (Zona horaria): nos indica la zona horaria a la que pertenece la dirección donde fue el accidente.<br>
Columna 22: &ensp;Airport Code (Código de aeropuerto): indica el código del aeropuerto más cercano a la zona del accidente.<br>
Columna 23: &ensp;Weather_timestamp (Marca temporal del clima): nos indica cómo estaba pronosticado el clima en la fecha del accidente.<br>
Columna 24, 25, 26, 27 y 28: &ensp;Temperature, Wind_chill, Humidity, Pressure, Visibility (Temperatura), (Sensación térmica), (Humedad), (Presión atmosférica), (Visibilidad): nos indica como estaba el clima al momento del accidente, en caso de temperatura, sensación térmica, presión, visibilidad.<br>
Columna 29 y 30: &ensp;Wind_direction y Wind_speed (Dirección del viento), (Velocidad del viento): nos indica cómo estaba el viento al momento del accidente.<br>
Columna 31 y 32: &ensp;Precipitation y Weather_condition (Precipitación), (Condiciones climáticas): nos indica un poco más del clima en el momento del accidente.<br>
Columna 33: &ensp;Amenity (Servicios): nos indica si había estaciones de servicio cerca del lugar del accidente.<br>
Columna 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44 y 45: &ensp;Bump, Crossing, Give_way, Junction, No_exit, Railway, Roundabout, Station, Stop, Traffic_calming, Traffic_signal, Turning_loop (Bordo), (Cruce), (Ceda el paso), (Unión), (No salida), (Vías férreas), (Rotonda), (Estación), (Alto), (Calmante de tráfico), (Señal de tráfico), (Vuelta): nos indica si cerca del accidente había algún tipo de controlador de tráfico, como lo son las boyas, los bordos, las señales de alto, las estaciones de bus o de tren, etc.<br>
Columna 46, 47, 48 y 49: &ensp;Sunrise_sunset, Civil_twilight, Nautical_twilight, Astronomical_twilight (Salida y puesta de sol), (luz civil), (luz náutica), (luz astronómica): nos indica información sobre cuánta luz había al momento del accidente y el horario según diferentes mediciones.<br>

---
### Justificación del uso de datos y preguntas de interés
---
Las características que más nos llamaron la atención de esta base de datos es que puede ser utilizada para predecir las zonas más peligrosas según condiciones del clima, la cantidad de accidentes que hay en la zona y qué tan graves son para así usar esta información para tomar medidas de precaución al transitar por dichas zonas en las condiciones encontradas. 
Tenemos distintas variables predictoras y algunas variables que podemos poner como dependientes de estas, que si logramos ver cómo es que se relacionan, podemos crear un conjunto de variables definidas que puedan ayudar a las autoridades de los estados que se encuentren en mayor riesgo a tomar acción  (poner más señalamientos o advertir a la ciudadanía de las zonas) para el beneficio de la comunidad.
El beneficio de trabajar con estos datos es que son fáciles de leer y de trabajar con ellos, puesto que, aunque hay varios que son texto, son pocas opciones que podemos representar como valores numéricos y no son imágenes. Además de que estamos familiarizados con los datos, lo cual nos permite realizar un mejor análisis.

-	¿Qué variables o factores son aquellos que más afectan de forma significativa a la severidad de un accidente?
-	¿En qué estado y en que condiciones climaticas se debe tener más precaución a la hora de manejar debido a que su severidad tiende a ser mayor?

## Primera parte: Limpieza de base de datos

In [2]:
import pandas as pd
import numpy as np

Primero importamos algunas librerias útiles para las primeras tareas que serán de limpieza.

In [3]:
bd_us_acc=pd.read_csv("C:/Users/enriq/Desktop/Actuaría Sem 8/Minería de Datos/US_Accidents_Dec19.csv",encoding="utf8")
bd_us_acc.head(5)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

Ahora bajamos la base de datos a una variable para poder trabajar con ella y manipularla.

In [7]:
bd_us_acc.dtypes

ID                        object
Source                    object
TMC                      float64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

Revisamos que tipo de variable corresponde a cada una de las columnas.

In [4]:
basedatoslimpia=bd_us_acc.drop(['Source','TMC','ID','Start_Lat','Start_Lng','Wind_Chill(F)','End_Lat','End_Lng','Distance(mi)','Description','Number','Side','Country','Zipcode','Timezone','Airport_Code','Weather_Timestamp','Pressure(in)','Visibility(mi)','Wind_Direction','Wind_Speed(mph)','Precipitation(in)','Amenity','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout','Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop','Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'],axis = 1 )
basedatoslimpia.head(5)

,Severity,Start_Time,End_Time,Street,City,County,State,Temperature(F),Humidity(%),Weather_Condition
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,Montgomery,OH,36.9,91.0,Light Rain
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,Franklin,OH,37.9,100.0,Light Rain
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,Clermont,OH,36.0,100.0,Overcast
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,Montgomery,OH,35.1,96.0,Mostly Cloudy
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,Montgomery,OH,36.0,89.0,Mostly Cloudy

Limpiamos la base de datos para trabajar solamente con las columnas que nos interesan.

In [27]:
basedatoslimpia.isnull().sum()

Severity                 0
Start_Time               0
End_Time                 0
Street                   0
City                    83
County                   0
State                    0
Temperature(F)       56063
Humidity(%)          59173
Weather_Condition    65932
dtype: int64

Con esto vemos si nuestra base cuenta con NAs. En nuestras ultimas 3 columnas si contamos con muchos NAs, pero comparado con la cantidad de registros que hay en la base de datos, no afecta tanto quitarlos.

In [5]:
basedatosfinal=basedatoslimpia.dropna()
basedatosfinal.head(5)

,Severity,Start_Time,End_Time,Street,City,County,State,Temperature(F),Humidity(%),Weather_Condition
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,Montgomery,OH,36.9,91.0,Light Rain
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,Franklin,OH,37.9,100.0,Light Rain
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,Clermont,OH,36.0,100.0,Overcast
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,Montgomery,OH,35.1,96.0,Mostly Cloudy
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,Montgomery,OH,36.0,89.0,Mostly Cloudy

Con esto nos aseguramos que nuestra base no cuente con NAs. Esto hara que nuestro análisis de los datos sea mas sencillo y preciso.

In [6]:
basedatosfinal=basedatosfinal.rename(columns = {'Severity':'Severidad','Start_Time':'Inicio(tiempo)','End_Time':'Final(tiempo)','Street':'Calle','City':'Ciudad','County':'Condado','State':'Estado','Temperature(F)':'Temperatura(F)','Humidity(%)':'Humedad(%)','Weather_Condition':'Condición climática'})
basedatosfinal.head(5)

,Severidad,Inicio(tiempo),Final(tiempo),Calle,Ciudad,Condado,Estado,Temperatura(F),Humedad(%),Condición climática
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,Montgomery,OH,36.9,91.0,Light Rain
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,Franklin,OH,37.9,100.0,Light Rain
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,Clermont,OH,36.0,100.0,Overcast
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,Montgomery,OH,35.1,96.0,Mostly Cloudy
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,Montgomery,OH,36.0,89.0,Mostly Cloudy

Con esto le damos el ultimo toque a nuestra base de datos para que solo nos traiga lo necesario.

In [16]:
#header = ['Severidad', 'Inicio(tiempo)','Final(tiempo)','Calle','Ciudad','Condado','Estado','Temperatura(F)','Humedad(%)','Condición climática']
#basedatosfinal.to_csv('basedatosproyectofinal.csv', columns = header)
basedatosnew = pd.read_csv('basedatosproyectofinal.csv')
basedatosnew.drop(basedatosnew.columns[[0]], axis=1, inplace=True)
basedatosnew.head(5)

,Severidad,Inicio(tiempo),Final(tiempo),Calle,Ciudad,Condado,Estado,Temperatura(F),Humedad(%),Condición climática
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,Montgomery,OH,36.9,91.0,Light Rain
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,Franklin,OH,37.9,100.0,Light Rain
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,Clermont,OH,36.0,100.0,Overcast
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,Montgomery,OH,35.1,96.0,Mostly Cloudy
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,Montgomery,OH,36.0,89.0,Mostly Cloudy

Con esto creamos un nuevo archivo con la base de datos que utilizaremos para nuestro trabajo.

In [17]:
basedatosnew.dtypes

Severidad                int64
Inicio(tiempo)          object
Final(tiempo)           object
Calle                   object
Ciudad                  object
Condado                 object
Estado                  object
Temperatura(F)         float64
Humedad(%)             float64
Condición climática     object
dtype: object

Aqui le damos una ultima revisión a la base de datos, observamos que nos trae muchas columnas de tipo "object", lo cual no es bueno para nosotros ya que es un formato difícil de manejar, las transformaremos a tipo "datetime".

In [21]:
basedatosnew["Inicio(tiempo)"]=pd.to_datetime(basedatosnew["Inicio(tiempo)"])
basedatosnew["Final(tiempo)"]=pd.to_datetime(basedatosnew["Final(tiempo)"])
basedatosnew.dtypes

Severidad                       int64
Inicio(tiempo)         datetime64[ns]
Final(tiempo)          datetime64[ns]
Calle                          object
Ciudad                         object
Condado                        object
Estado                         object
Temperatura(F)                float64
Humedad(%)                    float64
Condición climática            object
dtype: object

Ya con nuestra base de datos con los tipos de datos que queremos y las columnas que necesitamos con los nombres que nos gustan, procedemos a realizar un analisis estadistico de los datos. Antes de avanzar a esto veremos por ultima vez nuestra base de datos final para revisar que todo este en orden.

In [22]:
basedatosnew.head(5)

,Severidad,Inicio(tiempo),Final(tiempo),Calle,Ciudad,Condado,Estado,Temperatura(F),Humedad(%),Condición climática
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,I-70 E,Dayton,Montgomery,OH,36.9,91.0,Light Rain
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,Brice Rd,Reynoldsburg,Franklin,OH,37.9,100.0,Light Rain
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,State Route 32,Williamsburg,Clermont,OH,36.0,100.0,Overcast
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,I-75 S,Dayton,Montgomery,OH,35.1,96.0,Mostly Cloudy
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,Miamisburg Centerville Rd,Dayton,Montgomery,OH,36.0,89.0,Mostly Cloudy

## 2. Empezamos a trabajar con estadística básica de los datos

In [37]:
basedatosnew["Severidad"].mean()

2.358363881135377